body {
    font-family: "Helvetica", "Arial", sans-serif;
}

header {
    border-bottom: solid 1px #C2185B;
    background-color: #E91E63;
    color: white;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: relative;
    margin-bottom: 30px;
}

header h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.45em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

h2 {
  font-size: 25px;
}

.row.content {
	height: 450px
}
.sidenav {
    position: fixed;
	   height: 100%
    color: #eee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.sidenav a {
	background-color: #eee;
	/* Grey background color */
	color: black;
	/* Black text color */
	display: block;
	/* Make the links appear below each other */
	padding: 12px;
	/* Add some padding */
	text-decoration: none;
	/* Remove underline from links */
}
.sidenav a:hover {
	background-color: #ccc;
	/* Dark grey background on mouse-over */
}
.sidenav a.active {
	background-color: #E91E63;
	/* Add a color to the "active/current" link */
	color: white;
}

.sidenav ul {
  margin: 0;
}

.panel-body > pre {
	margin-top: 15px;
}
/* Set black background color, white text and some padding */


footer {
  border-top: solid 1px #C2185B;
  background-color: #E91E63;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  padding: 40px 0;
  height: 30px;
  margin-top: 30px;
}

#table {
    margin-top: 20px;
  position:relative;
  width:600px;
  height:400px;
}

#mult {
  margin-top: 10px;
  font: 20pt arial;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  position:absolute;
  top:330px;
  left:0px;
  width:610px;
  text-align:center;
}

@media screen and (max-width: 767px) {
	.sidenav {
		display: none;
	}
	.row.content {
		height: auto;
	}
}
